<!DOCTYPE html>

<html>

    <head>
        <title>foo</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <div id="heading">
            <h1>h1 foo</h1>
        </div>
        <br>
        <div id="flex_container">
        <nav>
            <h3>nav foo</h3>
            <ul>
                <li>dis</li>
                <li>dat</li>
                <li>de udda thing</li>
            </ul>
        </nav>
        <div class="main_content">
            <h2>main foo heading</h2>
            <p>Bacon ipsum dolor amet bresaola corned beef flank boudin leberkas. Short loin turkey venison porchetta pastrami short ribs drumstick kevin landjaeger chuck pork loin leberkas tail corned beef tenderloin. Short loin landjaeger kevin prosciutto. Jowl leberkas drumstick porchetta corned beef ham hock shoulder jerky hamburger spare ribs strip steak filet mignon.
            <br><br>
            Flank beef meatball tenderloin, t-bone pork loin picanha doner pork belly boudin prosciutto corned beef. Picanha hamburger flank pig jerky, andouille ground round ham hock chuck tenderloin capicola kielbasa cow meatloaf biltong. Picanha chislic sausage short ribs shankle doner meatball drumstick chicken spare ribs short loin rump. Pork loin shoulder short ribs brisket, t-bone chicken venison beef burgdoggen spare ribs tri-tip. Chicken pig burgdoggen porchetta jowl. Leberkas prosciutto filet mignon landjaeger shoulder rump jowl.</p>
        </div>
        </div>
        <p id="copyright">Copyright Ⓒ 2021 Clyde "Thluffy" Sinclair</p>
    </body>

</html>