body {
    background-color: #5d5b5b;
    height:100vh;
}

h1{
    color: white;
}

#heading {
    background-color: #a7a3a3;
    height: 6%;
    align-items: center;
    text-align: center;
}

.main_content{
    display: inline-block;
    text-align: left;
}

#flex_container {
    background-color: #767676;
    flex-direction: row;
    display: flex;
    justify-content: space;
    align-content: flex-start;
}

#copyright{
    background-color: #565656;
    color: #767676;
    text-align: right;
}

li {
    color:#bebebe;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    margin-right: 5%;
    height: 100%;
    width: 100%;
}